.main {
  background:url('./images/background-img.png');
  background-size: cover;
  height: 100vh;
}
form {
  margin-top:5vh;
  /* border-color: red; */
}

h1{
  font-size: 3rem;
  color:white;
}


#welcome{
  margin-top : 30vh;
}
.header {
  font-size: 5rem;
}
.card-text, .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
cursor: pointer;
height: 400px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
/* color:white; */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card-body{
  background-color: rgba(245, 222, 179, 0.8);
}

.error-message {
  display: none;
  font-size: 1rem;
  color:red;
}

/* @media(max-width:500px) {
  .main{
    background: url('images/background-img-mobile.png');
    background-size: cover;
  }
} */